body{
    background-color:EEE2DC}

#logogif:hover{
    transform: translate3d(0,-1px,0) scale(1.2);
    transition: all .4s ease; 
}
.search{
    float:right;
}
.navbar-text{
    font-size:30px;
    font-style: italic;
    color:black;
}
#src{
    width:200px;
    height:30px;
    font-size:15px;
}
#sor{
    float:right;
    margin-right: 5px;
}
#sort{
    width:100px;
}

#logo{
    width:150px;
    height:50px;
}
#loader{
        justify-content: center;
        align-items: center;
        display:flex;
}
#logogif{
        justify-content: center;
        align-items: center;
        display:flex;
        transition: all .5s ease;
}
#navlist{
    margin-bottom: 30px;
}
#facets{
    margin-top: 20px;
    margin-left: 5px;
}
button:hover{
    opacity:0.5;
    box-shadow: 0 0 11px rgba(33,33,33,1);
    transform: translate3d(0,-1px,0) scale(1.07);
    transition: all .4s ease; 
}
#facets:hover #forma{
    opacity:0.5;
}
.card{
    margin-top: 2rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 5px solid #BAB2B5;
    transition: all .5s ease;
}
.card:hover{
    transform: translate3d(0,-1px,0) scale(1.07);
    transition: all .4s ease;
    box-shadow: 0 0 11px rgba(33,33,33,1);
}
#prodi{
    margin: 4rem 10rem 10rem 10rem;
    background-color: white;
    transition: all .5s ease;
    border: 2px solid black;
}
#prodi:hover{
    transform: translate3d(0,-1px,0) scale(1.07);
    transition: all .4s ease; 
    box-shadow: 0 0 11px rgba(33,33,33,1);
}
#pagi{
    justify-content: center;
    align-items: center;
    display:flex;
}
#prev{
    margin-right: 2rem;
}
#next{
    margin-left: 2rem;
}
#firstpg{
    margin-right: 1rem;
}
#lastpg{
    margin-left: 1rem;
}
#pagi{
    margin-bottom: 1rem;
}
.dropdown-menu li {
    position: relative;
    transition: all .5s ease;
}

.dropdown-menu li:hover{
    transform: translate3d(0,-1px,0) scale(1.03);
    transition: all .4s ease; 
    box-shadow: 0 0 11px rgba(33,33,33,1);
}
.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
}