{%extends "base.html"%}

{% block content %}
<div class="card mx-auto" style="width:400px">
  <img class="card-img-top" src="{{ url_for('static',filename='img/bpp_fashions.png') }}" alt="Card image">
  <div class="card-body mx-auto">
    <h4 class="card-title">Product 1</h4>
    <p class="card-text">1$</p>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit architecto officia voluptatibus consequuntur quas ea nam laudantium ratione minima consectetur praesentium quisquam tempore nostrum a, recusandae aut natus ipsam eum?</p>
  </div>
</div>
    <div id="recommend">
      <p>Recommended For you</p>
    </div>  
{% endblock %}