{%extends "base.html"%}

{% block content %}
<script type="text/javascript" >
$(document).ready(function(){
var currenturl=window.location.pathname
var parts=currenturl.split('/')
var lastpart=parts.slice(-1)
console.log(lastpart)
$.ajaxSetup({traditional: true});
$.ajax({
  url:'/api/products/'+lastpart,
  type:'GET',
  success:function(data){
    console.log(data)
        var html='<div class="col-sm-6>';
        html +='<div class="card" id="prodi">';
        html +='<div class="row card-body">'
        html+='<img src="'+data.imageURL+'" alt="..." class="col-sm-6">';
        html+='<div class="col-sm-6">';
        html+='<h3>'+data.title+'</h3>';
        html+='<hr style=color:lightblue;>'
        html+='<h4>'+data.price+'$</h4>';
        html+='<p>'+data.productDescription+'</p>';
        html+='</div>';
        html+='</div>';
        html+='</div>';
        $('.container-fluid').append(html)

  }
})
})

</script>
<div class="container-fluid">
</div>

{% endblock %}