{% extends "base.html" %}

{% block content %}
<script type='text/javascript'>
  $(document).ready(function(){
  var currenturl=new URL(window.location.href)
  cat1=currenturl.searchParams.get('cat1')
  cat2=currenturl.searchParams.get('cat2')
  q=currenturl.searchParams.get('q')
  console.log(cat1,cat2,q)
  if (cat1!=null && cat2!=null){
    var newurl=new URL("http://127.0.0.1:5000/products")
    newurl.searchParams.append("cat1",cat1)
    newurl.searchParams.append("cat2",cat2)
  }
  else if(cat1!=null && cat2==null){
    var newurl=new URL("http://127.0.0.1:5000/products")
    newurl.searchParams.append("cat1",cat1)
  }
  else if(q!=null){
    var newurl=new URL("http://127.0.0.1:5000/search")
    newurl.searchParams.append("q",q)
  }
  else if(cat1==null && cat2==null && q==null){
    var newurl=new URL("http://127.0.0.1:5000/products")
  }
  console.log(newurl)
  $.ajax({
    url:/api/newurl.toString(),
    type:'GET',
    success:function(data){
      for (var i=0;i<data.length;i++){
        var html='<div class="col md-4 d-flex">';
        html+='<div class="card" id="'+data[i].id+'">';
        html+='<img class="card-img-top" src="'+data[i].imageURL+'" alt="...">';
        html+='<div class="card-body">';
        html+='<h4 class="card-title">'+data[i].title+'       '+data[i].price+'$</h4>';
        html+='<p class="card-text">'+data[i].productDescription+'</p>';
        html+='<a href="{{url_for("routes.info",id="val.id")}}" class="align-self-enmd btn btn-info stretched-link">View Product</a>'.replace('val.id',data[i].id);
        html+='</div>';
        html+='</div>';
        html+='</div>';
        $('#forma').append(html)
      }
    }
  })
})
</script>
    <div>
      <select class="custom-select" id="sort">
        <option value="Nons">None</option>
        <option value="Men">Price-Asc</option>
        <option value="Women">Price-Desc</option>
      </select>
    </div>
      <div class="row row-cols-1 row-cols-md-3 mx-center" id="forma">
        <!--
        <div class="col md-4">
          <div class="card">
            <img src="{{ url_for('static',filename='img/bpp_fashions.png') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Card title - price</h4>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      -->
      </div>
      
      
{% endblock %}